FLASK_ENV=development
FLASK_DEBUG=True
FLASK_APP=run.py

MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=imw-parking_database

JWT_SECRET_KEY=change_me_dev_only
JWT_ALGORITHM=HS256

API_HOST=0.0.0.0
API_PORT=5000
